<a href="https://colab.research.google.com/github/SaqlainHussainShah/Blogs_classification_NLP/blob/master/Blogs_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import glob
import time
import pandas as pd

In [59]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [60]:

t1=time.time()
path='/content/drive/My Drive/'
all_files = glob.glob(path + "/*.xml")
list = []

for filename in all_files:
  # print("file name ", filename)
  list.append(filename)
    

t2=time.time()
print("time taken to read All csv :: ", t2-t1, " seconds ")

time taken to read All csv ::  0.0010361671447753906  seconds

In [0]:
def clean_file_names(li):
  names_list=[]
  for i in range(len(li)):
    names_list.append(li[i].split('/')[-1])
  return names_list

In [0]:
def get_attributes_from_name(names_list):
  data_object=[]
  for data in range(len(names_list)):
    dummy_var=names_list[data].split('.')
    dummy_object={'id':dummy_var[0], 'gender':dummy_var[1],
                  'age':dummy_var[2], 'category':dummy_var[3],
                  'horoscope':dummy_var[4]
                  }
    data_object.append(dummy_object)
  return data_object

In [0]:
names_list=clean_file_names(li)

In [0]:
data_object=get_attributes_from_name(names_list)

In [65]:
data_object

[{'age': '34',
  'category': 'indUnk',
  'gender': 'female',
  'horoscope': 'Cancer',
  'id': '15365'},
 {'age': '25',
  'category': 'indUnk',
  'gender': 'male',
  'horoscope': 'Scorpio',
  'id': '5114'},
 {'age': '39',
  'category': 'indUnk',
  'gender': 'female',
  'horoscope': 'Sagittarius',
  'id': '17944'},
 {'age': '26',
  'category': 'Internet',
  'gender': 'male',
  'horoscope': 'Scorpio',
  'id': '7596'},
 {'age': '25',
  'category': 'Communications-Media',
  'gender': 'male',
  'horoscope': 'Aries',
  'id': '9470'},
 {'age': '23',
  'category': 'Marketing',
  'gender': 'male',
  'horoscope': 'Taurus',
  'id': '9289'},
 {'age': '42',
  'category': 'indUnk',
  'gender': 'male',
  'horoscope': 'Capricorn',
  'id': '8173'},
 {'age': '24',
  'category': 'Consulting',
  'gender': 'male',
  'horoscope': 'Cancer',
  'id': '8349'},
 {'age': '25',
  'category': 'Student',
  'gender': 'female',
  'horoscope': 'Aries',
  'id': '11762'},
 {'age': '26',
  'category': 'Technology',
  'gender': 'male',
  'horoscope': 'Aquarius',
  'id': '11253'}]

In [0]:
data_frame = pd.DataFrame(data_object)

In [67]:
data_frame.head()

      id  gender age              category    horoscope
0  15365  female  34                indUnk       Cancer
1   5114    male  25                indUnk      Scorpio
2  17944  female  39                indUnk  Sagittarius
3   7596    male  26              Internet      Scorpio
4   9470    male  25  Communications-Media        Aries