In [2]:
import glob
import time
import pandas as pd
# from xml.dom import minidom
from lxml import etree
from nltk import ngrams
from nltk.tokenize import sent_tokenize
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
from nltk.stem import PorterStemmer

[nltk_data] Downloading package punkt to /home/ebryx/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /home/ebryx/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /home/ebryx/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [3]:
from nltk.stem import PorterStemmer
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize

In [4]:
from sklearn.preprocessing import MultiLabelBinarizer

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
t1=time.time()
path='./dataset/blogs_train/'
all_files = glob.glob(path + "/*.xml")
li = []

for filename in all_files:
  # print("file name ", filename)
  li.append(filename)
    

t2=time.time()
print("time taken to read All csv :: ", t2-t1, " seconds ")

time taken to read All csv ::  0.0993509292602539  seconds

In [7]:
def clean_file_names(li):
  # names_list=[]
  # for i in range(len(li)):
  name_list=li.split('/')[-1]
  return name_list

In [8]:


def get_attributes_from_name(name):
  # data_object=[]
  # for data in range(len(names_list)):
  #   dummy_var=names_list[data].split('.')
  #   dummy_object={'id':dummy_var[0], 'gender':dummy_var[1],
  #                 'age':dummy_var[2], 'category':dummy_var[3],
  #                 'horoscope':dummy_var[4]
  #                 }
  #   data_object.append(dummy_object)
  dummy_var=name.split('.')
  data_object={'id':dummy_var[0], 'gender':dummy_var[1],
                  'age':dummy_var[2], 'category':dummy_var[3],
                  'horoscope':dummy_var[4]
                }
  
  return data_object

In [9]:
parser = etree.XMLParser(encoding='ISO-8859-1', recover = True, huge_tree=True)

In [10]:
def read_xml(li):
    
    
    all_objects=[]
    for i in range(len(li)):
    # print("i will run ", i+1," times")
        name_of_file=clean_file_names(li[i])
    # print(name_of_file)
        data_object=get_attributes_from_name(name_of_file)
    # print(data_object)

        post_text='  '
        tree = etree.parse(li[i], parser=parser)
        root = tree.getroot()
        for element in root.iter():
            if element.tag == 'post':
                element_text = element.text
                post_text = post_text + element_text
        mystring = post_text.replace('\n', '').replace('\r', '').replace('\t', '')
        mystring = mystring.replace('   ', '').replace('\\','')
   


   
    # print(mystring)
    # name_of_file=clean_file_names(li[i])
    # data_object=get_attributes_from_name(name_of_file)
    



        data_object['posts']=mystring   
        all_objects.append(data_object)

    return all_objects

In [11]:
t1=time.time()
data=read_xml(li[0:100])
t2=time.time()

In [12]:
stop_words = set(stopwords.words('english')) 
def remove_stop_words(posts):
    filtered_post=[]
    
    word_tokens = word_tokenize(posts) 
    filtered_sentence = []   
    for w in word_tokens: 
        if w not in stop_words: 
            filtered_sentence.append(w)

    filtered_post.append(filtered_sentence)
    return filtered_post

In [13]:
stop_words = set(stopwords.words('english')) 
def fun_remove_stop_words(posts):
    filtered=''
    for x in posts.split(' '):
        if x not in stop_words:
            filtered+=' '+x
    return filtered

In [14]:
for i in range(len(data)):
    data[i]['cleaned_stop_words']=fun_remove_stop_words(data[i]['posts'])

In [15]:
def remove_dashes(data):
    for i in range(len(data)):
        data[i]['cleaned_stop_words']=data[i]['cleaned_stop_words'].replace('--', ' ')

In [16]:
remove_dashes(data)

In [53]:
df=pd.DataFrame(data)

In [21]:
X=df[['age','cleaned_stop_words']]

In [22]:
dummy_variable_1 = pd.get_dummies(df["category"])
X=pd.concat([X,dummy_variable_1], axis=1)

In [23]:
del dummy_variable_1

In [24]:
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np

In [25]:
vectorizer = CountVectorizer()
vectorizer.fit(X['cleaned_stop_words'])
posts = vectorizer.transform(X['cleaned_stop_words'])

In [26]:
posts

<100x35680 sparse matrix of type '<class 'numpy.int64'>'
	with 137673 stored elements in Compressed Sparse Row format>

In [27]:
transformed_posts = np.array([row.toarray() for row in posts])

In [32]:
transformed_posts.shape=(100,35680)

In [33]:
del df,posts

NameError: name 'df' is not defined

In [34]:
transformed_posts=pd.DataFrame(transformed_posts)

In [35]:
X=pd.concat([X,transformed_posts],axis=1)

In [38]:
del transformed_posts

In [42]:
X=X.drop(['cleaned_stop_words'], axis=1)

In [43]:
X

,age,Advertising,Arts,Banking,BusinessServices,Communications-Media,Education,Engineering,Government,HumanResources,...,35670,35671,35672,35673,35674,35675,35676,35677,35678,35679
0,15,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,17,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,24,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,17,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
96,23,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
97,16,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98,24,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99,23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [48]:
X['age']=X['age'].astype(int)

In [50]:
from scipy import stats

In [51]:
t1=time.time()

X['age'] = stats.zscore(X['age'])
    
t2=time.time()
print("time ::: ", t2-t1 , " seconds to find z score")

time :::  0.001110076904296875  seconds to find z score

In [52]:
X.head()

,age,Advertising,Arts,Banking,BusinessServices,Communications-Media,Education,Engineering,Government,HumanResources,...,35670,35671,35672,35673,35674,35675,35676,35677,35678,35679
0,-1.006980,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.216568,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,-0.762271,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.094213,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,-0.762271,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

  age   category                                              posts
0  15    Student   i know, i need to be getting sleep; i know, i...
1  25     indUnk   love studying?can't get enough of those fat b...
2  17  Education  Im currently updating my site. And almost doin...
3  24    Student  So I was a witness to a pretty nasty accident ...
4  17     indUnk    ok so we skipped multimedia computer lecture...

In [ ]:
del X, X2

In [ ]:
df.head()

In [ ]:
X=df[['cleaned_stop_words']]

In [ ]:
X

In [49]:
X.dtypes

age                 int64
Advertising         uint8
Arts                uint8
Banking             uint8
BusinessServices    uint8
                    ...
35675               int64
35676               int64
35677               int64
35678               int64
35679               int64
Length: 35700, dtype: object

In [ ]:
dummy_variable_1 = pd.get_dummies(df["category"])
df=pd.concat([df,dummy_variable_1], axis=1)

In [ ]:
df.columns

In [ ]:
df_2=pd.concat([df['age'],df['posts']], axis=1)

In [ ]:
i=0
for x in df.columns:
    i+=1
    if i>7:
        df_2=pd.concat([df_2,df[x]], axis=1)

In [ ]:
df_2.tail()

In [ ]:
columns=df_2.columns[2:]

In [ ]:
df_2.head()

In [ ]:
X=df_2['posts']

In [ ]:
X2.shape

In [ ]:
pd.concat([X, X2], join="inner")

In [ ]:
X.shape

In [ ]:
X2=pd.concat([df_2['posts'],df_2[columns]], axis=1)

In [ ]:
X2.dtypes

In [19]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
vectorizer = CountVectorizer()
# vectorizer.fit(X['posts'])
# X['posts'] = vectorizer.transform(X['posts'])
transformed_posts = np.array([row.toarray() for row in vectorizer.fit_transform(X['posts'])])

In [33]:
vectorizer = CountVectorizer()
vectorizer.fit(X['category'])
X['category'] = vectorizer.transform(X['category'])

/home/ebryx/anaconda3/envs/tf/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [21]:
import numpy as np

In [22]:
vectorizer = CountVectorizer()
# vectorizer.fit(X['category'])
# X['category'] = vectorizer.transform(X['category'])
transformed_data = np.array([row.toarray() for row in vectorizer.fit_transform(X['category'])])

In [23]:
transformed_data.shape=(14600,45)

In [24]:
transformed_data=pd.DataFrame(transformed_data)

In [25]:
X2=pd.concat([X,transformed_data],axis=1)

In [26]:
X2

,age,category,posts,0,1,2,3,4,5,6,...,35,36,37,38,39,40,41,42,43,44
0,15,Student,"i know, i need to be getting sleep; i know, i...",0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,25,indUnk,love studying?can't get enough of those fat b...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,17,Education,Im currently updating my site. And almost doin...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,24,Student,So I was a witness to a pretty nasty accident ...,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,17,indUnk,ok so we skipped multimedia computer lecture...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14595,15,Student,ok we got webspace off abp for bgs but of cour...,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
14596,15,indUnk,"dearest diary, i do not know wad to put for t...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14597,16,indUnk,Good friends are the greatest treasures of th...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14598,23,Student,WE BRING THIS SPECIAL ANNOUCEMENT TO YOU LIVE...,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
14599,25,Accounting,Football Alex 'Knight of the Realm' Ferguson ...,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df_2.columns

In [ ]:
df_2.head()

In [54]:
labels= []
for hor,gen in zip(df['horoscope'],df['gender']):
    labels.append((hor,gen))

In [55]:
mlb = MultiLabelBinarizer()
mlb.fit(labels)
classes=len(mlb.classes_)
print("classes  :: ", classes)
mlb.classes_

classes  ::  14

array(['Aquarius', 'Aries', 'Cancer', 'Capricorn', 'Gemini', 'Leo',
       'Libra', 'Pisces', 'Sagittarius', 'Scorpio', 'Taurus', 'Virgo',
       'female', 'male'], dtype=object)

In [ ]:
trainX.shape

In [ ]:
X=X.transpose()

In [56]:
labels = mlb.fit_transform(labels)

In [57]:
y=labels

In [58]:
trainX, testX, trainY, testY = train_test_split(X,y, test_size=0.2, random_state=42)

In [59]:
from keras.models import Sequential
from keras import layers
from keras.preprocessing.text import Tokenizer
from keras.wrappers.scikit_learn import KerasClassifier

Using TensorFlow backend.

In [60]:


input_dim = trainX.shape[1]  # Number of features

model = Sequential()
model.add(layers.Dense(20, input_dim=input_dim, activation='relu'))
model.add(layers.Dense(10,  activation='tanh'))
# model.add(layers.Flatten())
model.add(layers.Dense(1024, activation='relu'))

model.add(layers.BatchNormalization())
model.add(layers.Dropout(0.5))
model.add(layers.Dense(classes, activation='softmax'))
# model.add(Activation('softmax'))

WARNING:tensorflow:From /home/ebryx/anaconda3/envs/tf/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /home/ebryx/anaconda3/envs/tf/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /home/ebryx/anaconda3/envs/tf/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /home/ebryx/anaconda3/envs/tf/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:133: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

WARNING:tensorflow:From /home/ebryx/anaconda3/envs/tf/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.

In [62]:
model.compile(loss='binary_crossentropy', 
              optimizer='adam', 
              metrics=['accuracy'])
model.summary()

WARNING:tensorflow:From /home/ebryx/anaconda3/envs/tf/lib/python3.7/site-packages/keras/optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /home/ebryx/anaconda3/envs/tf/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3376: The name tf.log is deprecated. Please use tf.math.log instead.

WARNING:tensorflow:From /home/ebryx/anaconda3/envs/tf/lib/python3.7/site-packages/tensorflow_core/python/ops/nn_impl.py:183: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 20)                714020
_________________________________________________________________
dense_2 (Dense)              (None, 10)                210
_________________________________________________________________
dense_3 (Dense)              (None, 1024)              11264
_________________________________________________________________
batch_normalization_1 (Batch (None, 1024)              4096
_________________________________________________________________
dropout_1 (Dropout)          (None, 1024)              0
_________________________________________________________________
dense_4 (Dense)              (None, 14)                14350
=================================================================
Total params: 743,940
Trainable params: 741,892
Non-trainable params: 2,048
_________________________________________________________________

In [63]:
trainX, testX, trainY, testY
classifier_nn = model.fit(trainX,trainY,
                    epochs=5,
                    verbose=True,
                    validation_data=(testX, testY),
                    batch_size=10)

WARNING:tensorflow:From /home/ebryx/anaconda3/envs/tf/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:986: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /home/ebryx/anaconda3/envs/tf/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:973: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From /home/ebryx/anaconda3/envs/tf/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:2741: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

Train on 80 samples, validate on 20 samples
Epoch 1/5
WARNING:tensorflow:From /home/ebryx/anaconda3/envs/tf/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:174: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /home/ebryx/anaconda3/envs/tf/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:181: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /home/ebryx/anaconda3/envs/tf/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:190: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /home/ebryx/anaconda3/envs/tf/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:199: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /home/ebryx/anaconda3/envs/tf/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:206: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

80/80 [==============================] - 3s 33ms/step - loss: 0.5078 - acc: 0.8562 - val_loss: 0.5301 - val_acc: 0.8393
Epoch 2/5
80/80 [==============================] - 0s 2ms/step - loss: 0.4573 - acc: 0.8545 - val_loss: 0.4888 - val_acc: 0.8571
Epoch 3/5
80/80 [==============================] - 0s 2ms/step - loss: 0.4447 - acc: 0.8625 - val_loss: 0.5128 - val_acc: 0.8536
Epoch 4/5
80/80 [==============================] - 0s 2ms/step - loss: 0.3786 - acc: 0.8643 - val_loss: 0.4392 - val_acc: 0.8536
Epoch 5/5
80/80 [==============================] - 0s 2ms/step - loss: 0.3753 - acc: 0.8688 - val_loss: 0.4397 - val_acc: 0.8679

In [73]:
model.predict(testX[1])

ValueError: Error when checking input: expected dense_1_input to have shape (35700,) but got array with shape (1,)

In [81]:
model.predict(testX)

array([[2.14142259e-02, 4.55975765e-03, 8.57419595e-02, 2.02653930e-02,
        1.70279574e-02, 5.92526468e-03, 2.05481499e-02, 1.84916090e-02,
        1.34474393e-02, 1.59376878e-02, 1.16090570e-02, 2.20909212e-02,
        7.03751683e-01, 3.91887873e-02],
       [1.74757298e-02, 4.07804130e-03, 1.45875901e-01, 2.61220075e-02,
        1.86622608e-02, 5.60476817e-03, 2.16874797e-02, 1.78633556e-02,
        1.25875454e-02, 2.63237953e-02, 7.83246011e-03, 4.01043221e-02,
        5.94223142e-01, 6.15592115e-02],
       [3.57897580e-02, 1.03999637e-02, 1.24569289e-01, 3.32498364e-02,
        1.22892307e-02, 1.00643709e-02, 3.63702811e-02, 4.06113341e-02,
        1.28950682e-02, 2.26842426e-02, 2.85543539e-02, 3.61069217e-02,
        3.93447369e-01, 2.02967986e-01],
       [3.57734337e-02, 1.03927078e-02, 1.24588579e-01, 3.32387313e-02,
        1.22913877e-02, 1.00613032e-02, 3.63560803e-02, 4.05857489e-02,
        1.28963655e-02, 2.26806123e-02, 2.85258852e-02, 3.60996723e-02,
        3.93791497e-01, 2.02718034e-01],
       [2.25615073e-02, 5.06436080e-03, 1.14674486e-01, 2.51986552e-02,
        1.46463877e-02, 6.66203815e-03, 2.44518574e-02, 2.19455902e-02,
        1.31295053e-02, 1.94369294e-02, 1.20547032e-02, 2.86954045e-02,
        6.25555396e-01, 6.59232363e-02],
       [4.86470237e-02, 9.26122814e-03, 1.04736395e-01, 4.03735302e-02,
        6.42298758e-02, 1.41489580e-02, 3.37319449e-02, 2.72552408e-02,
        3.83070447e-02, 3.96946780e-02, 2.84811221e-02, 4.14837189e-02,
        3.62125784e-01, 1.47523507e-01],
       [3.57565768e-02, 1.03852097e-02, 1.24608442e-01, 3.32272425e-02,
        1.22936070e-02, 1.00581096e-02, 3.63413952e-02, 4.05593440e-02,
        1.28976991e-02, 2.26768516e-02, 2.84965225e-02, 3.60921882e-02,
        3.94146591e-01, 2.02460229e-01],
       [3.57897580e-02, 1.03999637e-02, 1.24569289e-01, 3.32498364e-02,
        1.22892307e-02, 1.00643709e-02, 3.63702811e-02, 4.06113341e-02,
        1.28950682e-02, 2.26842426e-02, 2.85543539e-02, 3.61069217e-02,
        3.93447369e-01, 2.02967986e-01],
       [3.73620205e-02, 7.61922123e-03, 1.56823948e-01, 4.42551821e-02,
        2.70208754e-02, 8.81572440e-03, 3.85817811e-02, 2.25740448e-02,
        1.59226600e-02, 4.04785387e-02, 1.52832754e-02, 5.90366051e-02,
        3.23420137e-01, 2.02806026e-01],
       [3.57600227e-02, 1.03867445e-02, 1.24604374e-01, 3.32296044e-02,
        1.22931553e-02, 1.00587597e-02, 3.63444090e-02, 4.05647308e-02,
        1.28974319e-02, 2.26776246e-02, 2.85025146e-02, 3.60937268e-02,
        3.94074142e-01, 2.02512816e-01],
       [1.71760283e-02, 2.64629349e-03, 6.71758098e-05, 7.17785433e-02,
        2.89541066e-01, 8.88395905e-02, 3.61343753e-03, 1.48313725e-03,
        1.09591298e-01, 1.57258683e-03, 1.00862905e-02, 4.75650141e-03,
        3.98841023e-01, 7.10593531e-06],
       [2.95655373e-02, 6.64381823e-03, 1.55702442e-01, 3.81162725e-02,
        2.22213399e-02, 7.68360170e-03, 3.31099778e-02, 2.36117281e-02,
        1.47318225e-02, 3.33758295e-02, 1.42860329e-02, 5.21539077e-02,
        4.17963147e-01, 1.50834605e-01],
       [3.55336517e-02, 1.02866972e-02, 1.24860540e-01, 3.30748186e-02,
        1.23219620e-02, 1.00157484e-02, 3.61469388e-02, 4.02114913e-02,
        1.29142990e-02, 2.26260386e-02, 2.81119701e-02, 3.59917246e-02,
        3.98808628e-01, 1.99095458e-01],
       [3.23100910e-02, 8.91684089e-03, 1.26400158e-01, 3.07353809e-02,
        1.25776893e-02, 9.31113400e-03, 3.32498848e-02, 3.54881957e-02,
        1.30400294e-02, 2.17026696e-02, 2.31365543e-02, 3.42543907e-02,
        4.62273091e-01, 1.56603917e-01],
       [2.64238399e-02, 6.78135082e-03, 1.24112062e-01, 2.69927122e-02,
        1.25996433e-02, 7.98258092e-03, 2.83630844e-02, 2.86998078e-02,
        1.28039392e-02, 1.98179148e-02, 1.66327171e-02, 3.06956358e-02,
        5.55382848e-01, 1.02711804e-01],
       [3.01158261e-02, 8.05174559e-03, 1.26132578e-01, 2.92673130e-02,
        1.25706904e-02, 8.79012700e-03, 3.14331651e-02, 3.26995365e-02,
        1.29501270e-02, 2.09661443e-02, 2.03944743e-02, 3.29536870e-02,
        4.99514878e-01, 1.34159774e-01],
       [3.57645340e-02, 1.03887506e-02, 1.24599040e-01, 3.32326815e-02,
        1.22925565e-02, 1.00596137e-02, 3.63483317e-02, 4.05718125e-02,
        1.28970677e-02, 2.26786286e-02, 2.85103805e-02, 3.60957012e-02,
        3.93979013e-01, 2.02581927e-01],
       [2.42779683e-02, 5.97798824e-03, 9.34232026e-02, 2.10089106e-02,
        2.24710889e-02, 8.04143120e-03, 3.05403285e-02, 2.92865913e-02,
        1.78650152e-02, 1.92836467e-02, 2.35115010e-02, 2.94349175e-02,
        5.94915688e-01, 7.99616575e-02],
       [3.28814536e-02, 5.15704881e-03, 7.79526383e-02, 2.53978558e-02,
        4.43718471e-02, 8.44441727e-03, 2.01765299e-02, 1.80483460e-02,
        2.62783039e-02, 2.19018105e-02, 1.65987685e-02, 2.33092103e-02,
        6.39237761e-01, 4.02441174e-02],
       [4.11195569e-02, 8.81305896e-03, 1.03690229e-01, 4.32515480e-02,
        1.76327471e-02, 7.72368070e-03, 4.12647873e-02, 1.83034316e-02,
        1.03750564e-02, 4.08126079e-02, 1.74871329e-02, 6.10280931e-02,
        8.47506896e-02, 5.03747404e-01]], dtype=float32)

In [82]:
for i in trainY:
    print(i)

[0 0 0 0 0 0 0 0 0 0 1 0 1 0]
[0 0 0 0 0 0 0 0 0 1 0 0 0 1]
[0 0 0 0 0 0 0 0 0 1 0 0 1 0]
[0 0 0 0 0 0 0 0 0 0 1 0 1 0]
[0 0 0 0 1 0 0 0 0 0 0 0 0 1]
[0 0 0 0 0 0 0 0 0 1 0 0 0 1]
[0 1 0 0 0 0 0 0 0 0 0 0 0 1]
[0 0 0 0 1 0 0 0 0 0 0 0 1 0]
[0 0 0 0 0 0 0 1 0 0 0 0 1 0]
[0 0 0 0 0 0 0 0 0 0 1 0 0 1]
[0 0 0 0 0 0 0 1 0 0 0 0 0 1]
[0 0 0 0 0 0 0 0 0 0 0 1 0 1]
[0 0 0 0 0 0 0 0 0 0 1 0 0 1]
[0 0 1 0 0 0 0 0 0 0 0 0 1 0]
[0 0 0 0 0 0 1 0 0 0 0 0 1 0]
[0 0 0 0 0 1 0 0 0 0 0 0 0 1]
[0 0 0 0 0 0 0 0 0 0 1 0 1 0]
[1 0 0 0 0 0 0 0 0 0 0 0 0 1]
[0 0 0 0 0 1 0 0 0 0 0 0 1 0]
[0 0 0 0 0 0 1 0 0 0 0 0 0 1]
[0 0 1 0 0 0 0 0 0 0 0 0 1 0]
[0 0 0 0 0 0 0 0 0 0 1 0 1 0]
[0 0 0 0 0 0 0 0 1 0 0 0 1 0]
[1 0 0 0 0 0 0 0 0 0 0 0 0 1]
[0 1 0 0 0 0 0 0 0 0 0 0 1 0]
[1 0 0 0 0 0 0 0 0 0 0 0 0 1]
[0 1 0 0 0 0 0 0 0 0 0 0 0 1]
[0 0 0 0 0 0 1 0 0 0 0 0 0 1]
[0 0 0 0 0 1 0 0 0 0 0 0 1 0]
[0 0 0 0 0 0 0 0 0 0 0 1 0 1]
[0 0 0 1 0 0 0 0 0 0 0 0 1 0]
[0 0 1 0 0 0 0 0 0 0 0 0 0 1]
[0 0 1 0 0 0 0 0 0 0 0 0 1 0]
[0 0 1 0 0 0 0 0 0 0 0 0 1 0]
[0 0 0 0 0 0 0 0 0 0 1 0 0 1]
[0 0 1 0 0 0 0 0 0 0 0 0 0 1]
[0 1 0 0 0 0 0 0 0 0 0 0 0 1]
[1 0 0 0 0 0 0 0 0 0 0 0 0 1]
[0 0 1 0 0 0 0 0 0 0 0 0 0 1]
[0 0 0 0 0 0 0 0 0 0 0 1 1 0]
[0 0 0 0 0 1 0 0 0 0 0 0 0 1]
[0 0 0 0 0 0 0 1 0 0 0 0 1 0]
[0 0 0 1 0 0 0 0 0 0 0 0 0 1]
[0 0 0 1 0 0 0 0 0 0 0 0 1 0]
[0 0 0 0 0 0 0 0 0 0 0 1 1 0]
[0 0 0 0 0 1 0 0 0 0 0 0 1 0]
[0 0 0 0 0 1 0 0 0 0 0 0 1 0]
[0 0 0 0 0 0 0 0 0 0 0 1 1 0]
[1 0 0 0 0 0 0 0 0 0 0 0 0 1]
[0 1 0 0 0 0 0 0 0 0 0 0 0 1]
[0 0 0 0 0 0 0 0 0 0 0 1 0 1]
[0 0 0 0 0 0 1 0 0 0 0 0 0 1]
[0 0 0 0 0 1 0 0 0 0 0 0 1 0]
[0 0 0 0 0 0 0 0 0 0 0 1 1 0]
[0 0 0 0 0 0 0 0 1 0 0 0 1 0]
[0 0 0 0 0 0 0 1 0 0 0 0 1 0]
[0 0 0 0 0 0 0 0 0 0 1 0 0 1]
[0 0 0 0 0 0 0 1 0 0 0 0 0 1]
[0 0 0 0 0 0 0 0 1 0 0 0 1 0]
[1 0 0 0 0 0 0 0 0 0 0 0 1 0]
[0 0 0 0 1 0 0 0 0 0 0 0 1 0]
[0 0 0 0 0 1 0 0 0 0 0 0 1 0]
[0 0 0 0 1 0 0 0 0 0 0 0 1 0]
[0 0 1 0 0 0 0 0 0 0 0 0 0 1]
[0 0 0 0 0 1 0 0 0 0 0 0 0 1]
[0 0 0 0 0 0 0 0 0 1 0 0 1 0]
[0 0 0 0 0 1 0 0 0 0 0 0 1 0]
[0 0 1 0 0 0 0 0 0 0 0 0 0 1]
[0 0 0 0 0 1 0 0 0 0 0 0 0 1]
[0 0 0 0 0 0 1 0 0 0 0 0 0 1]
[0 0 0 0 0 1 0 0 0 0 0 0 0 1]
[0 0 0 0 0 0 0 0 0 0 1 0 0 1]
[0 0 0 0 0 0 0 0 0 0 0 1 0 1]
[0 0 0 0 0 0 0 0 0 0 1 0 0 1]
[0 0 0 0 0 0 0 0 0 0 1 0 0 1]
[0 0 1 0 0 0 0 0 0 0 0 0 0 1]
[0 0 0 0 0 0 0 0 0 0 1 0 1 0]
[1 0 0 0 0 0 0 0 0 0 0 0 0 1]
[0 1 0 0 0 0 0 0 0 0 0 0 1 0]
[0 0 0 0 0 0 0 0 0 1 0 0 0 1]

### Word2 Vector

In [ ]:
words_of_posts=[]
for j in range(len(data)):
    posts=data[j]['posts']
    
    words=[]
    for i in range(len(posts)):
        words.append(word_tokenize(posts[i]))
    words_of_posts.append(words)

In [ ]:
remove_stop_words(data[1]['posts'])

In [ ]:
if len(data)==len(words_of_posts):
    for i in range(len(data)):
        data[i]['tokenized']=words_of_posts[i]

In [ ]:
df=pd.DataFrame(data)

In [ ]:
X=df['tokenized'].values

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
vectorizer = CountVectorizer()
vectorizer.fit(X)
X = vectorizer.transform(X)

In [ ]:
y=data['horoscope']

In [ ]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(y)

In [ ]:
y_transform=le.transform(y)

In [ ]:
from keras.utils import np_utils

In [ ]:
dummy_y = np_utils.to_categorical(y_transform)

In [ ]:
#Split

In [ ]:
# model

In [ ]:
# compile

In [ ]:
# fit

In [ ]:
def _create_frequency_matrix(sentences):
    frequency_matrix = {}
    stopWords = set(stopwords.words("english"))
    ps = PorterStemmer()

    for sent in sentences:
        freq_table = {}
        words = word_tokenize(sent)
        for word in words:
            word = word.lower()
            word = ps.stem(word)
            if word in stopWords:
                continue

            if word in freq_table:
                freq_table[word] += 1
            else:
                freq_table[word] = 1

        frequency_matrix[sent[:15]] = freq_table

    return frequency_matrix

In [ ]:
freq_matrix=_create_frequency_matrix(data[1]['posts'])

In [ ]:
def _create_tf_matrix(freq_matrix):
    tf_matrix = {}

    for sent, f_table in freq_matrix.items():
        tf_table = {}

        count_words_in_sentence = len(f_table)
        for word, count in f_table.items():
            tf_table[word] = count / count_words_in_sentence

        tf_matrix[sent] = tf_table

    return tf_matrix

In [ ]:
tf_matrix=_create_tf_matrix(freq_matrix)

In [ ]:
def _create_documents_per_words(freq_matrix):
    word_per_doc_table = {}

    for sent, f_table in freq_matrix.items():
        for word, count in f_table.items():
            if word in word_per_doc_table:
                word_per_doc_table[word] += 1
            else:
                word_per_doc_table[word] = 1

    return word_per_doc_table

In [ ]:
doc_per_word=_create_documents_per_words(freq_matrix)

In [ ]:
def _create_idf_matrix(freq_matrix, count_doc_per_words, total_documents):
    idf_matrix = {}

    for sent, f_table in freq_matrix.items():
        idf_table = {}

        for word in f_table.keys():
            idf_table[word] = math.log10(total_documents / float(count_doc_per_words[word]))

        idf_matrix[sent] = idf_table

    return idf_matrix

In [ ]:
_create_idf_matrix(freq_matrix,doc_per_word,total_documents)